header {
	background-color: #fff;
	height: 70px;
    width: 100%;
	border-bottom: 1px solid #CCCCCC;
	background-image: url("/web_static/image/logo.png");
	background-repeat: no-repeat;
	background-position: 20px center;
}